body
{
    color: #333;
    text-align: center;
    font-family: "Courier";
    font-size: 16px;
    margin: 0;
    padding: 0;
}
#cabecera 
{
    background: #33A;
    box-shadow: 0px 5px 20px 0px rgba(0,0,0,0.75); 
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
}
#tagline
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.85;
}
#container 
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;

}